@media screen and (min-width: 1024px) {
  .container-about{
    background: url("../img/about.jpg") 800px 0 no-repeat;
    height: 1336px;
    .content {
      &__about{
        article{
          font: normal 17px "favoritc-ligth";
          color: #000;
          .circle-mini{
            display: none;
          }
          .short-text-320px{
            display: none;
          }
          .short-text {
            width: 410px;
            margin-top: 54px;
            margin-left: 17px;
            line-height: 24px;
            &:nth-child(2){
              margin-top: 23px;
            }
            &:nth-child(3){
              margin-top: 24px;
            }
            strong{
              font-family: "favoritc";
            }
          }
          .long-text{
            width: 740px;
            margin-top: 23px;
            margin-left: 18px;
            line-height: 24px;
            strong{
              font-family: "favoritc";
            }
          }
          div:nth-child(4){
            margin-top: 61px;
          }
        }
        .about-img{
          display: flex;
          justify-content: space-between;
          margin-top: 39px;
          margin-left: 20px;
        }
        .benefits{
          margin-left: 16px;
          margin-top: 45px;
          width: 770px;
          &__line{
            font: normal 17px "favoritc";
            color: #000;
            margin-bottom: 27px;
            div {
              width: 300px;
              display: inline-block;
              padding-left: 30px;
            }
            .man{
               background: url("../img/icons/man.png") no-repeat;
               height: 19px;
              letter-spacing: -0.2px;
             }
            .star{
              background: url("../img/icons/star.png") no-repeat;
              height: 19px;
              width: 340px;
            }
            .box{
              background: url("../img/icons/box.png") no-repeat;
              height: 19px;
              margin-left: 92px;
            }
            .options{
              background: url("../img/icons/options.png") no-repeat;
              height: 19px;
              margin-left: 51px;
            }
          }
        }
        .aspiration{
          font: normal 17px "favoritc-ligth";
          color: #000;
          text-align: center;
          display: flex;
          justify-content: space-around;
          margin-top: 55px;
          margin-left: 11px;
          &__block{
            display: inline-block;
            vertical-align: top;
            .title{
              font-family: "favoritc";
              color: #890000;
            }
            .border{
              border-bottom: 1px solid #890000;
              width: 50px;
              margin: 0 auto;
              margin-top: 6px;
            }
            .description{
              margin-top: 12px;
              line-height: 21px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px){
  .container{
    .content{
      .news__title{
        display: none;
      }
      .about-min{
        background: url("../img/about-small.jpg") no-repeat;
        width: 320px;
        height: 99px;
      }
      .content__about{
        .benefits{
          display: none;
        }
        article{
          padding: 0 10px;
          font: normal 17px "favoritc-ligth";
          color: #000;
          .circle-mini{
            background: url("../img/about-circle-mini.jpg") no-repeat;
            width: 111px;
            height: 111px;
            display: inline-block;
          }
          .short-text{
            margin: 10px 0;
          }
          .short-text-320px{
            display: inline-block;
            width: 170px;
            margin-bottom: 10px;
          }
          .long-text{
            margin-bottom: 10px;
          }
          strong{
            font-family: "favoritc";
          }
          .hide{
            display: none;
          }
        }
        .about-img{
          margin: 0 auto;
          width: 305px;
          .hide{
            display: none;
          }
        }
        .aspiration{
          font: normal 17px "favoritc-ligth";
          color: #000;
          text-align: left;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          margin-left: 10px;
          &__block{
            display: inline-block;
            vertical-align: top;
            margin-top: 10px;
            &:last-child{
              margin-bottom: 20px;
            }
            .title{
              font-family: "favoritc";
              color: #890000;
            }
            .border{
              display: none;
            }
            .description{
              line-height: 21px;
            }
          }
        }
      }
    }
  }
}