@media screen and (min-width: 1024px) {
  .catalog-win{
    background: url(../img/catalog-win.jpg) 0px 0px no-repeat;
    width: 495px;
    height: 383px;
    margin-left: -247.4px;
    margin-top: -191.5px;
    border: 2px solid #fff;
    .catalog-comment{
      .title{
        font: bold 19px "favoritc";
        color: #000;
        text-align: center;
        width: 330px;
        margin-top: 40px;
        margin-bottom: 20px;
      }
      .title-mini{
        display: none;
      }
      form{
        width: 330px;
        input::-webkit-input-placeholder{
          color: #d9c3aa;
        }
        input:-moz-placeholder{
          color: #d9c3aa;
        }
        textarea::-webkit-input-placeholder{
          color: #d9c3aa;
        }
        textarea:-moz-placeholder{
          color: #d9c3aa;
        }
        div{
          font: normal 21px "favoritc-ligth";
          color: #000;
          text-align: center;
          margin-top: 10px;
        }
        input{
          border: none;
          background-color: #d9c3aa;
          width: 273px;
          height: 35px;
          margin: 0 auto;
          display: block;
        }
        .small{
          display: none;
        }
        button{
          margin-right: 28px;
          margin-top: 30px;
        }
      }
    }
  }
  .container-catalog {
    background: url("../img/catalog.jpg") 800px 0 no-repeat;
    height: 769px;
    .content {
      .catalog-min{
        display: none;
      }
      &__catalog {
        font: normal 17px "favoritc-ligth";
        color: #000;
        width: 780px;
        .catalog-slider{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          position: relative;
          margin-top: 30px;
          margin-left: 20px;
          .column{
            display: inline-block;
            .bottom-door{
              margin: 0 auto;
              width: 174px;
            }
            .top-partner{
              margin-bottom: 10px;
            }
          }
          .slick-prev{
            background: url("../img/icons/prev.png") no-repeat;
            width: 36px;
            height: 36px;
            margin-top: 35px;
            left: -50px;
            font-size: 0;
            border: none;
            position: absolute;
            z-index: 1;
            top: 50%;
          }
          .slick-next{
            background: url("../img/icons/next.png") no-repeat;
            width: 36px;
            height: 36px;
            right: -48px;
            margin-top: 36px;
            font-size: 0;
            border: none;
            position: absolute;
            z-index: 1;
            top: 50%;
          }
          .slick-next:focus{
            outline: none;
          }
          .slick-prev:focus{
            outline: none;
          }
        }
        .hove-price{
          background: url("../img/hove-price.jpg") no-repeat;
          width: 742px;
          height: 46px;
          margin: 68px auto 0 21px;
          color: #fff;
          font: bold 18px "favoritc";
          text-align: center;
          line-height: 47px;
          letter-spacing: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px){
  .black-screen{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 800px;
    z-index: 9998;
  }
  .catalog-win{
    background: url(../img/catalog-win-mini.jpg) 0px 0px no-repeat;
    width: 284px;
    height: 248px;
    border: 2px solid #fff;
    position: fixed;
    display: none;
    left: 50%;
    margin-left: -144px;
    top: 55px;
    z-index: 9999;
    .catalog-comment{
      .title{
        display: none;
      }
      .title-mini{
        font: bold 19px "favoritc";
        color: #250e02;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 0px;
        margin-left: 10px;
      }
      form{
        div{
          font: normal 21px "favoritc-ligth";
          color: #000;
          text-align: center;
          margin-top: 10px;
        }
        input{
          width: 260px;
          height: 35px;
          margin: 0 auto;
          display: block;
          background-color: #e3e0dd;
          border: 1px solid #fff;
          margin-top: 10px;
        }
        .hide{
          display: none;
        }
        input:-moz-placeholder{
           color: #000;
          font: normal 16px "favoritc-ligth";
         }
        input::-webkit-input-placeholder{
          color: #000;
          font: normal 16px "favoritc-ligth";
        }
        button{
          margin: 0 auto;
          border: 1px solid #6d3207;
          background: linear-gradient(#af6b3d, #6f3409);
          font: bold 14px "favoritc";
          color: #fff;
          width: 260px;
          height: 40px;
          letter-spacing: 1px;
          i {
            background: url("../img/icons/send.png") no-repeat;
            width: 15px;
            height: 14px;
            display: inline-block;
            position: relative;
            left: 10px;
          }
        }
        .user-name{
          display: none;
        }
        .user-phone{
          display: none;
        }
      }
    }
    .opinion-cancel{
      background: url("../img/cancel.jpg") no-repeat;
      width: 22px;
      height: 22px;
      position: absolute;
      top: -23px;
      right: 0;
      cursor: pointer;
    }
  }
  .container-catalog{
    .content-news{
      .catalog-min{
        background: url("../img/catalog-min.jpg") no-repeat;
        width: 320px;
        height: 99px;
      }
      .opinion__title{
        color: #890000;
        font: normal 24px "favoritc";
        width: 200px;
        margin-left: 10px;
      }
      .content__catalog {
        font: normal 17px "favoritc-ligth";
        color: #000;
        width: 320px;
        .catalog-slider{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          position: relative;
          margin-left: 0px;
          margin-top: 10px;
          .column{
            display: inline-block;
            .top-partner{
              margin-bottom: 5px;
              img{
                width: 94px;
                height: 45px;
              }
            }
            .bottom-door{
              margin: 0 auto;
              width: 70px;
              .small-1{
                width: 70px;
                height: 147px;
              }
            }
            .bottom-door-2{
              .small-2{
                width: 96px;
                height: 146px;
              }
            }
          }
          .slick-prev{
            background: url("../img/icons/prev.png") no-repeat;
            width: 36px;
            height: 36px;
            left: 120px;
            font-size: 0;
            border: none;
            position: absolute;
            z-index: 1;
            bottom: -45px;
          }
          .slick-next{
            background: url("../img/icons/next.png") no-repeat;
            width: 36px;
            height: 36px;
            right: 120px;
            font-size: 0;
            border: none;
            position: absolute;
            z-index: 1;
            bottom: -45px;
          }
          .slick-next:focus{
            outline: none;
          }
          .slick-prev:focus{
            outline: none;
          }
        }
        .hove-price{
          background: url("../img/hove-price-small.jpg") no-repeat;
          width: 298px;
          height: 44px;
          margin: 0 auto;
          color: #fff;
          font: bold 18px "favoritc";
          text-align: center;
          line-height: 47px;
          letter-spacing: 2px;
          margin-top: 70px;
        }
      }
    }
  }
}