@media screen and (min-width: 1024px) {
  .container-contacts {
    background: url("../img/contact.jpg") 800px 0 no-repeat;
    height: 1336px;
    .content {
      .contacts-min{
        display: none;
      }
      &__contacts {
        font: normal 17px "favoritc-ligth";
        color: #000;
        .city-block{
          width: 720px;
          height: 335px;
          background-color: #f7f7f7;
          position: relative;
          margin-top: 31px;
          margin-left: 17px;
          &:first-child{
            margin-bottom: 79px;
          }
          .city-map-small{
            display: none;
          }
          .city-line {
            margin-left: 34px;
            margin-top: 16px;
            &:first-child{
              padding-top: 62px;
            }
            .our-title {
              font: normal 17px "favoritc";
              color: #9d0909;
              i{
                display: inline-block;
                margin-right: 5px;
              }
              .address{
                background: url("../img/icons/on-map.png") no-repeat;
                width: 11px;
                height: 14px;
              }
              .phone{
                background: url("../img/icons/phone.png") no-repeat;
                width: 16px;
                height: 16px;
              }
              .email{
                background: url("../img/icons/mail.png") no-repeat;
                width: 19px;
                height: 14px;
              }
            }
          }
          .city-map{
            display: inline-block;
            position: absolute;
            right: -19px;
            top: 14px;

          }
        }
        .question-contact{
          width: 770px;
          margin-top: 91px;
          form{
            input::-webkit-input-placeholder{
              color: #fff;
            }
            input:-moz-placeholder{
              color: #fff;
            }
            textarea::-webkit-input-placeholder{
              color: #fff;
            }
            textarea:-moz-placeholder{
              color: #fff;
            }
            input{
              height: 35px;
              width: 270px;
              border: 1px solid #8c8c8c;
            }
            .big-hide{
              display: none;
            }
            .form-right-contact{
              margin-top: 26px;
              margin-left: 4px;
              textarea{
                width: 450px;
                height: 120px;
                resize: none;
                margin-top: 9px;
                border: 1px solid #8c8c8c;
              }
            }
            .form-left-contact{
              margin-top: 25px;
              letter-spacing: 1px;
              .name{
                margin-bottom: 10px;
              }
              .number{
                margin-top: 16px;
                margin-bottom: 10px;
              }
            }
            .contact-btn{
              float: right;
              margin-top: 9px;
              margin-right: 32px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px){
  .container{
    .content{
      .contacts-min{
        background: url("../img/contacts-mini.jpg") no-repeat;
        width: 320px;
        height: 99px;
      }
      .contacts-title{
        display: none;
      }
      &__contacts {
        font: normal 17px "favoritc-ligth";
        color: #000;
        .city-block{
          width: 320px;
          background-color: #fff;
          position: relative;
          margin-top: 10px;
          margin-left: 0px;
          .city-line {
            margin-left: 10px;
            margin-top: 22px;
            margin-bottom: 5px;
            &:first-child{
              padding-top: 0;
            }
            .our-title {
              font: normal 17px "favoritc";
              color: #9d0909;
              display: inline-block;
              i{
                display: inline-block;
                margin-right: 5px;
              }
              .address{
                background: url("../img/icons/on-map.png") no-repeat;
                width: 11px;
                height: 14px;
              }
              .phone{
                background: url("../img/icons/phone.png") no-repeat;
                width: 16px;
                height: 16px;
              }
              .email{
                background: url("../img/icons/mail.png") no-repeat;
                width: 19px;
                height: 14px;
              }
            }
            .this-info{
              display: inline-block;
              float: right;
              margin-right: 50px;
            }
          }
          .city-map{
            display: none;
          }
          .city-map-small{
            display: inline-block;
            top: 14px;

          }
        }
        .question-contact{
          width: 320px;
          margin-top: 10px;
          .question__have-contact{
            font: normal 24px "favoritc";
            color: #890000;
            margin-left: 10px;
          }
          form{
            .hide{
              display: none;
            }
            input{
              height: 35px;
              width: 290px;
              padding: 0;
              padding-left: 10px;
              margin: 10px auto 0;
              display: block;
            }
            input::-webkit-input-placeholder{
              color: #494949;
              font: normal 16px "favoritc-ligth";
            }
            input:-moz-placeholder{
              color: #494949;
              font: normal 16px "favoritc-ligth";
            }
            textarea::-webkit-input-placeholder{
              color: #494949;
              font: normal 16px "favoritc-ligth";
            }
            textarea:-moz-placeholder{
              color: #494949;
              font: normal 16px "favoritc-ligth";
            }
            .form-right-contact{
              margin-top: 10px;
              .hide{
                display: none;
              }
              textarea{
                width: 290px;
                height: 120px;
                resize: none;
                padding-left: 10px;
                margin: 0 auto;
                display: block;
              }
            }
            .form-left-contact{
              letter-spacing: 1px;
              .name{
                margin-bottom: 10px;
              }
              .number{
                margin-top: 16px;
                margin-bottom: 10px;
              }
            }
            .contact-btn{
              margin: 0 auto;
              border: 1px solid #6d3207;
              background: linear-gradient(#af6b3d, #6f3409);
              font: bold 14px "favoritc";
              color: #fff;
              width: 300px;
              height: 40px;
              letter-spacing: 1px;
              display: block;
              margin-top: 10px;
              i {
                background: url("../img/icons/send.png") no-repeat;
                width: 15px;
                height: 14px;
                display: inline-block;
                position: relative;
                left: 10px;
              }
            }
          }
        }
      }
    }
  }
}