@font-face {
  font-family:"favoritc";
  src: url("../fonts/favoritc.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"favoritc-bold";
  src: url("../fonts/favoritc-bold.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"favoritc-ligth";
  src: url("../fonts/favoritlightc.otf") format("truetype");
  font-weight:normal;
  font-style:normal;
}