@media screen and (min-width: 1024px) {
.container{
  width: 1300px;
  height: 768px;
  margin: 0 auto;
  background: url("../img/home.jpg") no-repeat;
  background-size: 1300px 768px;
  .nav{
    width: 294px;
    float: left;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    .phone-head{
      display: none;
    }
    &__logo{
      margin-top: 56px;
      margin-left: 19px;
    }
    &__bar{
      margin-top: 40px;
      ul{
        list-style: none;
        text-align: center;
        padding-left: 0;
        font: normal 16px "favoritc";
        li{
          border-bottom: 1px solid #eaeae9;
          margin-bottom: 5px;
          padding-bottom: 10px;
          letter-spacing: 1px;
          &:last-child{
            border-bottom: none;
          }
          a{
            text-decoration: none;
            color: #787878;
            &:hover{
              color: #000;
            }
          }
          &:nth-child(3){
            background: url("../img/icons/arrow-nav.png") 260px 7px no-repeat;
            position: relative;
          }
          &:nth-child(4){
            background: url("../img/icons/arrow-nav.png") 260px 7px no-repeat;
            position: relative;
          }
          .product-hover{
            position: absolute;
            top: -280px;
            display: none;
            width: 270px;
            background: rgba(92,18,19, 0.8);
            text-align: center;
            height: 768px;
            z-index: -9999;
            animation: hover-effect 0.5s 1 ease-out;
            .product-menu {
              top: 215px;
              position: relative;
              a {
                text-decoration: none;
                color: #fff;
                opacity: 0.5;
                font: normal 17px "favoritc";
                &:hover {
                  opacity: 1;
                }
              }
              .dots {
                margin: 0 auto;
                color: #fff;
                opacity: 0.5;
              }
            }
          }
          @keyframes hover-effect {
            0% {left:0; opacity: 0;}
            50% {left: 200px; opacity: 0.2;}
            100% {left: 293px; opacity: 1;}
          }
        }
        #productions:hover{
          .product-hover{
            display: block;
            left: 293px;
            z-index: 9999;
            .product-menu{
              top: 197px;
            }
          }
        }
        #about-company-nav:hover{
          .product-hover{
            display: block;
            left: 293px;
            z-index: 9999;
            .product-menu{
              top: 239px;
            }
          }
        }
      }

    }
    &__search{
      input{
        width: 255px;
        border: none;
        font: normal 14px "favoritc-ligth";
        color: #000;
        background: rgba(209,209,209, 0.8) url("../img/icons/search.png") 230px no-repeat;
        margin-top: 8px;
        margin-left: 18px;
        height: 37px;
        padding-left: 14px;
      }
    }
    &__contacts {
      font: normal 17px "favoritc-bold";
      opacity: 1;
      text-align: center;
      margin-top: 28px;
      margin-left: 18px;
      div{
        span:last-child{
          font-size: 16px;
        }
      }

      div:nth-child(3) {
        margin-top: 12px;
      }
      div:nth-child(5){
        a{
          text-decoration: none;
          color: #000;
          margin-top: 15px;
        }
      }
      .border{
        margin: 0 auto;
        width: 63px;
        margin-top: 13px;
      }
      .on-map{
        background: url("../img/icons/on-map.png") 58px 4px no-repeat;
        margin-top: 26px;
        a{
          color: #890000;
          text-decoration: none;
          margin-left: 0;
        }
      }
    }
    &__copyright {
      font: normal 14px "favoritc-ligth";
      color: #8c8c8c;
      text-align: center;
      margin-top: 20px;
    }
  }
  .content{
    width: 1006px;
    height: 100%;
    float: right;
    &__all{
      width: 975px;
      margin: 0 auto;
      height: 740px;
      border: 2px solid #fff;
      margin-top: 13px;
      position: relative;
      .left-corner{
        background: url("../img/icons/big-left.png") no-repeat;
        width: 66px;
        height: 131px;
        position: absolute;
        top: 295px;
        left: 195px;
      }
      .right-corner{
        background: url("../img/icons/right-big.png") no-repeat;
        width: 67px;
        height: 132px;
        position: absolute;
        left: 705px;
        top: 294px;
      }
      .cube{
        width: 370px;
        height: 370px;
        background-color: rgba(255, 255, 255, 0.6);
        transform: rotate(45deg);
        margin: 0 auto;
        position: relative;
        top: 175px;
        text-align: center;
        &__content{
          text-align: center;
          transform: rotate(-45deg);
          top: 75px;
          position: absolute;
          h3{
            font: normal 24px "favoritc";
            color: #890000;
          }
          .biggest{
            font: normal 16px "favoritc-ligth";
            color: #000;
          }
          .south{
            font: normal 16px "favoritc";
            color: #000;
          }
        }
      }
    }
  }
  .mobile-contacts{
    display: none;
  }
  .nav__copyright{
    display: none;
  }
}
}
@media screen and (max-width: 1023px){
  .container{
    width: 320px;
    margin: 0 auto;
    height: 100%;
    .nav{
      &__logo{
        margin: 0 auto;
        width: 249px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .phone-head{
        background-color: #f1f1f1;
        .head-title {
          font: normal 19.03px "favoritc";
          color: #000;
          display: inline-block;
          padding-left: 10px;
        }
        .head-menu{
          background: url("../img/icons/burger.png") no-repeat;
          width: 18px;
          height: 14px;
          float: right;
          margin-right: 10px;
          margin-top: 5px;
          transition: all 0.5s;
        }
        .red-burger{
          background: url("../img/icons/burger-red.png") no-repeat;
          width: 18px;
          height: 14px;
          float: right;
          margin-right: 10px;
          margin-top: 5px;
          transition: all 0.5s;
          transform: rotate(180deg);
        }
        .mobile-nav{
          position: relative;
          display: none;
          height: auto;
          z-index: 8000;
          ul{
            position: absolute;
            left: 0;
            right: 0;
            list-style: none;
            background-color: #fff;
            padding-left: 10px;
            margin: 0;
            li{
              margin: 8px 0;
              color: #c76262;
              .nav-info{
                background-color: #5b1111;
                z-index: 8888;
                opacity: 1;
                position: relative;
                left: 0;
                right: 0;
                margin-left: -10px;
                padding-bottom: 10px;
                display: none;
                li{
                  margin: 5px 0;
                  a{
                    font: normal 20px "favoritc-ligth";
                    text-decoration: none;
                    color: #c76262;
                    &:hover{
                      color: #fff;
                    }
                  }
                }
              }
              a{
                font: normal 20px "favoritc";
                color: #787878;
                text-decoration: none;
                z-index: 1;
                &:hover{
                  color: #890000;
                }
              }
              .arrow-drop1{
                background: url("../img/icons/arrow-nav.png") 160px 10px no-repeat;
                display: block;
              }
              .arrow-drop2{
                background: url("../img/icons/arrow-nav.png") 160px 10px no-repeat;
                display: block;
              }
            }
          }
        }
      }
      .nav__bar{
        display: none;
      }
      .nav__contacts{
        display: none;
      }
      .nav__copyright{
        display: none;
      }
      .nav__search{
        display: none;
      }
    }
    .content{
      width: 320px;
      .content__all{
        background: url("../img/home320.jpg") no-repeat;
        height: 234px;
        .left-corner{
          display: none;
        }
        .right-corner{
          display: none;
        }
        .cube{
          display: none;
        }
      }
    }
    .mobile-contacts {
      display: block;
      .nav__contacts {
        font: normal 17px "favoritc-bold";
        opacity: 1;
        text-align: center;
        width: 320px;
        padding-top: 20px;
        div {
          span:last-child {
            font-size: 16px;
          }
        }

        div:nth-child(3) {
          margin-top: 10px;
        }
        div:nth-child(5) {
          a {
            text-decoration: none;
            color: #000;
            margin-top: 15px;
          }
        }
        .border {
          margin: 0 auto;
          width: 63px;
          margin-top: 6px;
        }
        .on-map {
          background: url("../img/icons/on-map.png") 58px 4px no-repeat;
          margin-top: 16px;
          a {
            color: #890000;
            text-decoration: none;
            margin-left: 0;
          }
        }
      }
    }
    .nav__copyright {
      font: normal 14px "favoritc-ligth";
      color: #8c8c8c;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}