@media screen and (min-width: 1024px) {
  .container-news_one{
    background: url("../img/news_one.jpg") 800px 0 no-repeat;
    .content-news-one {
      width: 780px;
      .news {
        &__all {
          .news-big__block {
            margin-top: 32px;
            .news-one {
              width: 500px;
              margin-top: 2px;
              margin-left: 8px;
              .news-text{
                margin-top: 12px;
                line-height: 24px;
              }
            }
            .news-description{
              font: normal 17px "favoritc-ligth";
              color: #000;
              margin-top: 16px;
              margin-bottom: 21px;
            }
            a{
              font: normal 17px "favoritc-ligth";
              color: #890000;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px){
  .container{
    .content{
      .news-one-small{
        background: url("../img/news-one-small.jpg") no-repeat;
        height: 99px;
        width: 320px;
      }
      .news{
        &__all{
          .news__block{
            .back-to-list{
              font: normal 17px "favoritc-ligth";
              color: #890000;
              text-decoration: none;
              margin: 20px 0;
              display: block;
            }
            .news-info{
              .news-text{
                height: auto;
              }
            }
            .news-description{
              font: normal 17px "favoritc-ligth";
              color: #000;
              text-align: justify;
              .hide{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}