@media screen and (min-width: 1024px) {
  .container-news{
    background: url("../img/news.jpg") 800px 0 no-repeat;
    .nav-shadow{
      box-shadow: 25px 0 23px -19px rgba(0,0,0,.5);
    }
    .news__title {
      font: normal 24px "favoritc";
      color: #890000;
      margin-top: 75px;
      margin-left: 16px;
      letter-spacing: 2.5px;
    }
    .content-news {
      margin-left: 65px;
      width: 750px;
      float: left;
      .news {
        display: inline-block;
        &__all {
          margin-left: 17px;
          .news__block {
            margin-top: 40px;
            .news-info {
              width: 620px;
              display: inline-block;
              vertical-align: top;
              margin-left: 13px;
              margin-top: -3px;
              h5 {
                margin: 0;
                a {
                  font: normal 17px "favoritc";
                  color: #890000;
                }
              }
              .news-date {
                color: #aaa;
                font: normal 15px "favoritc";
                margin-top: 1px;
              }
              .news-text {
                font: normal 17px "favoritc-ligth";
                color: #000;
                margin-top: 5px;
                display: inline;
              }
              a {
                color: #890000;
                text-decoration: none;
              }
            }
          }
        }
      }
      .change-page {
        margin-top: 56px;
        a {
          text-decoration: none;
          color: #000;
          margin-left: 15px;
          font: normal 17px "favoritc-ligth";
        }
        .active {
          background-color: #890000;
          border-radius: 50%;
          padding: 3px 8px;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px){
  .container{
    .content{
      .news__title{
        display: none;
      }
      .news-small{
        background: url("../img/news-small.jpg") no-repeat;
        width: 320px;
        height: 99px;
      }
      .news{
        &__all{
          .news__block{
            width: 300px;
            margin: 0 auto;
            margin-bottom: 20px;
            &:first-child{
              margin-top: 10px;
            }
            img{
              display: none;
            }
            .news-info{
              h5{
                font: normal 17px "favoritc";
                color: #9d0909;
                margin: 0;
              }
              .news-date{
                font: normal 15px "favoritc";
                color: #aaa;
                margin-top: 5px;
              }
              .news-text{
                font: normal 17px "favoritc-ligth";
                color: #000;
                text-align: justify;
                margin-top: 5px;
                overflow: hidden;
                height: 90px;
              }
              a{
                color: #960a06;
                text-decoration: none;
              }
            }
          }
        }
      }
      .change-page{
        text-align: center;
        a {
          text-decoration: none;
          color: #000;
          font: normal 17px "favoritc-ligth";
          margin: 0 5px;
        }
        .active {
          background-color: #890000;
          border-radius: 50%;
          padding: 3px 8px;
          color: #fff;
        }
      }
    }
  }

}