@media screen and (min-width: 1024px) {
  .black-screen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 762px;
    z-index: 9998;
  }
  .opinion-win {
    display: none;
    position: fixed;
    background: url(../img/opinion-win.jpg) -1px -1px no-repeat;
    width: 735px;
    height: 329px;
    top: 50%;
    margin-top: -110.5px;
    left: 50%;
    margin-left: -293.5px;
    z-index: 9999;
    .opinion-comment {
      font: normal 14px "favoritc-ligth";
      z-index: 1000;
      .opinion__have {
        font: normal 17px "favoritc";
        color: #890000;
        letter-spacing: 1px;
        margin-top: 25px;
        margin-left: 40px;
      }
      form {
        input::-webkit-input-placeholder{
          color: #fff;
        }
        input:-moz-placeholder{
          color: #fff;
        }
        textarea::-webkit-input-placeholder{
          color: #fff;
        }
        textarea:-moz-placeholder{
          color: #fff;
        }
        .form-left {
          display: inline-block;
          vertical-align: top;
          margin-left: 40px;
          margin-right: 20px;
          margin-top: 20px;
          input {
            width: 270px;
            height: 35px;
            border: 1px solid #8c8c8c;
            overflow: hidden;
            padding: 0;
          }
          .email {
            margin-top: 27px;
          }
        }
        .form-right {
          display: inline-block;
          margin-top: 20px;
          textarea {
            resize: none;
            width: 360px;
            height: 120px;
            border: 1px solid #8c8c8c;
            padding: 0;
            box-sizing: border-box;
          }
        }
        button {
          border: 1px solid #6d3207;
          background: linear-gradient(#af6b3d, #6f3409);
          font: bold 14px "favoritc";
          color: #fff;
          width: 275px;
          height: 40px;
          letter-spacing: 2px;
          float: right;
          margin-right: 39px;
          margin-top: 17px;
          i {
            background: url("../img/icons/send.png") no-repeat;
            width: 15px;
            height: 14px;
            display: inline-block;
            position: relative;
            left: 10px;
          }
        }
      }
    }
    .opinion-cancel {
      background: url("../img/cancel.jpg") no-repeat;
      width: 22px;
      height: 22px;
      position: absolute;
      top: -23px;
      right: -23px;
      cursor: pointer;
    }
  }
  .container-opinion {
      background: url("../img/opinion.jpg") 800px 0 no-repeat;
      height: 762px;
      .content {
        .opinion__title {
          display: inline-block;
          margin-top: 75px;
          letter-spacing: 2px;
          margin-left: 14px;
        }
        .opinion-small{
          display: none;
        }
        .send {
          float: right;
          border: 1px solid #6d3207;
          background: linear-gradient(#af6b3d, #6f3409);
          font: bold 14px "favoritc";
          color: #fff;
          width: 200px;
          height: 35px;
          letter-spacing: 2px;
          line-height: 7px;
          margin-top: 68px;
          i {
            border-bottom: 1px dotted #fff;
            display: inline-block;
            width: 129px;
          }
        }
        &__opinion {
          font: normal 17px "favoritc-ligth";
          color: #000;
          width: 770px;
          .commentaries {
            .commentaries__block {
              height: auto;
              padding-bottom: 5px;
              width: 730px;
              margin: 10px auto 0 20px;
              background-color: #fff;
              border: 1px solid #d9d9d9;
              &:first-child{
                margin-top: 25px;
              }
              .info {
                position: relative;
                margin-top: 18px;
                margin-left: 12px;
                .date {
                  font: normal 15px "favoritc";
                  color: #aaa;
                }
                .name {
                  color: #890000;
                  font: normal 17px "favoritc";
                  margin-left: 13px;
                }
                .bg-comment {
                  background: url("../img/icons/comment.png") no-repeat;
                  height: 19px;
                  position: absolute;
                  width: 28px;
                  display: inline-block;
                  right: 20px;
                  top: 6px;
                }
              }
              .text {
                padding: 0 12px;
                line-height: 25px;
              }
            }
          }
        }
        .change-page-opinion{
          margin-top: 20px;
          margin-left: 10px;
        }
      }
    }
}

@media screen and (max-width: 1023px){
  .black-screen{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: auto;
    z-index: 9998;
  }
  .opinion-win {
    position: fixed;
    background-color: #fff;
    width: 300px;
    height: 365px;
    z-index: 9999;
    left: 50%;
    margin-left: -150px;
    top: 50px;
    display: none;
    .opinion-comment {
      font: normal 14px "favoritc-ligth";
      z-index: 1000;
      width: 290px;
      margin: 0 auto;
      .opinion__have {
        font: normal 17px "favoritc";
        color: #890000;
        letter-spacing: 1px;
        margin-left: 10px;
        width: 230px;
        margin-top: 10px;
      }
      form {
        input::-webkit-input-placeholder{
          color: #000;
        }
        input:-moz-placeholder{
          color: #000;
        }
        textarea::-webkit-input-placeholder{
          color: #000;
        }
        textarea:-moz-placeholder{
          color: #000;
        }
        .hide{
          display: none;
        }
        .form-left {
          display: block;
          vertical-align: top;
          input {
            width: 270px;
            padding-left: 10px;
            height: 35px;
            overflow: hidden;
            margin-top: 10px;
          }
        }
        .form-right {
          display: block;
          margin-top: 10px;
          textarea {
            resize: none;
            width: 280px;
            padding-left: 10px;
            height: 140px;
            box-sizing: border-box;
          }
        }
        button {
          border: 1px solid #6d3207;
          background: linear-gradient(#af6b3d, #6f3409);
          font: bold 14px "favoritc";
          color: #fff;
          width: 280px;
          height: 40px;
          letter-spacing: 2px;
          margin: 10px auto 0;
          display: block;
          i {
            background: url("../img/icons/send.png") no-repeat;
            width: 15px;
            height: 14px;
            display: inline-block;
            position: relative;
            left: 10px;
          }
        }
      }
    }
    .opinion-cancel {
      background: url("../img/cancel.jpg") no-repeat;
      width: 22px;
      height: 22px;
      position: absolute;
      top: -23px;
      right: 0px;
      cursor: pointer;
    }
  }
  .container{
    .content{
      .opinion-small{
        background: url("../img/opinion-small.jpg") no-repeat;
        width: 320px;
        height: 99px;
      }
      .send {
        border: 1px solid #6d3207;
        background: linear-gradient(#af6b3d, #6f3409);
        font: bold 14px "favoritc";
        color: #fff;
        width: 300px;
        height: 35px;
        letter-spacing: 2px;
        line-height: 7px;
        margin: 10px auto 0;
        display: block;
        cursor: pointer;
        i {
          border-bottom: 1px dotted #fff;
          display: block;
          width: 129px;
          margin: 0 auto;
          padding-top: 4px;
        }
      }
      &__opinion {
        font: normal 17px "favoritc-ligth";
        color: #000;
        width: 320px;
        .commentaries {
          .commentaries__block {
            height: auto;
            width: 300px;
            margin: 10px auto 0;
            background-color: #fff;
            border: 1px solid #d9d9d9;
            &:first-child{
              margin-top: 10px;
            }
            .info {
              position: relative;
              margin-top: 18px;
              margin-left: 12px;
              .date {
                font: normal 15px "favoritc";
                color: #aaa;
              }
              .name {
                color: #890000;
                font: normal 17px "favoritc";
                margin-left: 13px;
              }
              .bg-comment {
                display: none;
              }
            }
            .text {
              padding: 0 12px;
              line-height: 25px;
              text-align: justify;
            }
          }
        }
      }
      .change-page-opinion{
        margin-top: 20px;
      }
    }
  }
}