@media screen and (min-width: 1024px) {
  .container-service {
    background: url("../img/service.jpg") 600px 0 no-repeat;
    height: 1004px;
    .content {
      &__service {
        font: normal 17px "favoritc";
        color: #000;
        .service-our{
          margin-top: 28px;
          margin-left: 17px;
        }
        .ul-title {
          font-family: "favoritc-ligth";
          margin-left: 17px;
          margin-top: 28px;
        }
        .service-this {
          font-family: "favoritc-ligth";
          margin-top: 13px;
          line-height: 24px;
          margin-left: -5px;
          li {
            color: #890000;
          }
          span {
            color: #000;
          }
        }
        .service-description{
          margin-top: 26px;
          margin-left: 22px;
        }
        .service-description {
          font: normal 15px "favoritc-ligth";
          color: #a8a8a8;
        }
        .question{
          margin-top: 89px;
          margin-left: 17px;
          letter-spacing: 2.5px;
          width: 770px;
          .question__have{
            font: normal 24px "favoritc";
            color: #890000;
          }
          form{
            font: normal 16px "favoritc-ligth";
            color: #000;
            letter-spacing: 1px;
            input::-webkit-input-placeholder{
              color: #fff;
            }
            input:-moz-placeholder{
              color: #fff;
            }
            textarea::-webkit-input-placeholder{
              color: #fff;
            }
            textarea:-moz-placeholder{
              color: #fff;
            }
            input{
              width: 270px;
              height: 35px;
            }
            .form-left{
              display: inline-block;
              vertical-align: top;
              margin-top: 25px;
              .name{
                margin-bottom: 10px;
              }
              .number{
                margin-top: 17px;
                margin-bottom: 6px;
              }
              .email{
                margin-top: 21px;
                margin-bottom: 7px;
              }
            }
            .form-right{
              display: inline-block;
              margin-top: 25px;
              textarea{
                resize: none;
                width: 450px;
                height: 210px;
                margin-top: 10px;
              }
            }
            button{
              border: 1px solid #6d3207;
              background: linear-gradient(#af6b3d,#6f3409) ;
              font: bold 14px "favoritc";
              color: #fff;
              width: 275px;
              height: 40px;
              letter-spacing: 2px;
              float: right;
              margin-right: 25px;
              i{
                background: url("../img/icons/send.png") no-repeat;
                width: 15px;
                height: 14px;
                display: inline-block;
                position: relative;
                left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .container{
    .content{
      .service-small{
        background: url("../img/service-small.jpg") no-repeat;
        width: 320px;
        height: 99px;
      }
      &__service {
        font: normal 17px "favoritc";
        color: #000;
        .service-our{
          margin-left: 10px;
          margin-top: 12px;
        }
        .ul-title {
          font-family: "favoritc-ligth";
          margin-left: 10px;
          margin-top: 15px;
        }
        .service-this {
          font-family: "favoritc-ligth";
          padding: 0 30px;
          li {
            color: #890000;
          }
          span {
            color: #000;
          }
        }
        .service-description {
          font: normal 15px "favoritc-ligth";
          color: #a8a8a8;
          margin-left: 10px;
        }
        .question{
          letter-spacing: 2.5px;
          width: 320px;
          margin-top: 20px;
          .question__have{
            font: normal 24px "favoritc";
            color: #890000;
            margin-left: 10px;
            margin-bottom: 10px;
          }
          form{
            font: normal 16px "favoritc-ligth";
            color: #000;
            letter-spacing: 1px;
            .hide{
              display: none;
            }
            input::-webkit-input-placeholder{
              color: #494949;
              font: normal 16px "favoritc-ligth";
            }
            input:-moz-placeholder{
              color: #494949;
              font: normal 16px "favoritc-ligth";
            }
            textarea::-webkit-input-placeholder{
              color: #494949;
              font: normal 16px "favoritc-ligth";
            }
            textarea:-moz-placeholder{
              color: #494949;
              font: normal 16px "favoritc-ligth";
            }
            input{
              width: 290px;
              height: 35px;
              padding-left: 10px;
              margin: 5px 0;
            }
            .form-left{
              display: block;
              vertical-align: top;
              width: 300px;
              margin: 0 auto;
            }
            .form-right{
              display: block;
              width: 300px;
              margin: 0 auto;
              textarea{
                resize: none;
                width: 290px;
                padding-left: 10px;
                height: 120px;
                margin-top: 10px;
              }
            }
            button{
              border: 1px solid #6d3207;
              background: linear-gradient(#af6b3d,#6f3409) ;
              font: bold 14px "favoritc";
              color: #fff;
              width: 300px;
              height: 40px;
              letter-spacing: 2px;
              margin: 0 auto;
              display: block;
              i{
                background: url("../img/icons/send.png") no-repeat;
                width: 15px;
                height: 14px;
                display: inline-block;
                position: relative;
                left: 10px;
              }
            }
          }
        }
      }
    }
  }
}