//= template/head.html
<div class="container container-news container-about">
    <div class="nav nav-shadow">
        <div class="nav__logo"><img src="img/logo.png" alt="Гипермаркет Контракт"></div>
        <div class="phone-head">
            <div class="head-title">О КОМПАНИИ</div>
            <div class="head-menu" id="burger" onclick="dropDown()"></div>
            <div class="mobile-nav" id="drop">
                <ul>
                    <li><a href="">НОВОСТИ И АКЦИИ</a></li>
                    <li><a class="arrow-drop1" onclick="dropDownRed()">О КОМПАНИИ</a>
                        <ul id="first-menu" class="nav-info">
                            <li><a href="">Входные металлические двери</a></li>
                            <li>......</li>
                            <li><a href="">Межкомнатные двери</a></li>
                            <li>......</li>
                            <li><a href="">Арки</a></li>
                            <li>......</li>
                            <li><a href="">Фурнитура</a></li>
                            <li>......</li>
                            <li><a href="">Напольные покрытия</a></li>
                        </ul>
                    </li>
                    <li><a class="arrow-drop2" onclick="dropDownRedAnother()">ПРОДУКЦИЯ</a>
                        <ul id="second-menu" class="nav-info">
                            <li><a href="">Входные металлические двери</a></li>
                            <li>......</li>
                            <li><a href="">Межкомнатные двери</a></li>
                            <li>......</li>
                            <li><a href="">Арки</a></li>
                            <li>......</li>
                            <li><a href="">Фурнитура</a></li>
                            <li>......</li>
                            <li><a href="">Напольные покрытия</a></li>
                        </ul>
                    </li>
                    <li><a href="">УСЛУГИ И СЕРВИС</a></li>
                    <li><a href="">КОНТАКТЫ</a></li>
                </ul>
            </div>
        </div>
        <div class="nav__bar">
            <ul>
                <li><a href="#">ГЛАВНАЯ</a></li>
                <li><a href="#">НОВОСТИ И АКЦИИ</a></li>
                <li id="about-company-nav"><a href="#">О КОМПАНИИ</a><div class="product-hover">
                    <div class="product-menu">
                        <a href="#">Входные<br>металлические двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Межкомнатные двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Арки</a>
                        <div class="dots">.......</div>
                        <a href="#">Фурнитура</a>
                        <div class="dots">.......</div>
                        <a href="#">Напольные покрытия</a>
                    </div>
                </div></li>
                <li id="productions"><a href="#">ПРОДУКЦИЯ</a><div class="product-hover">
                    <div class="product-menu">
                        <a href="#">Входные<br>металлические двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Межкомнатные двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Арки</a>
                        <div class="dots">.......</div>
                        <a href="#">Фурнитура</a>
                        <div class="dots">.......</div>
                        <a href="#">Напольные покрытия</a>
                    </div>
                </div></li>
                <li><a href="#">УСЛУГИ И СЕРВИС</a></li>
                <li><a href="#">КОНТАКТЫ</a></li>
            </ul>
        </div>
        <div class="nav__search">
            <input type="search" placeholder="Поиск по сайту">
        </div>
        <div class="nav__contacts">
            <div>
                <div>Сочи, ул. Гагарина, 82</div>
                <div>8 (918) 911-333-7</div>
            </div>
            <div class="border">........</div>
            <div>
                <div>Адлер, ул. Ленина, 96</div>
                <div>8 (918) 911-333-5</div>
            </div>
            <div class="border">........</div>
            <div>
                <a href="#">vit-kontrakt@yandex.ru</a>
            </div>
            <div class="on-map">
                <a href="#">Мы на карте</a>
            </div>
        </div>
        <div class="nav__copyright">2016 &#169; Гипермаркет дверей "Контракт"</div>
    </div>
    <div class="content content-news">
        <div class="news__title">О КОМПАНИИ</div>
        <div class="about-min"></div>
        <div class="content__about">
            <article>
                <div class="short-text">
                Наша компания, работающая на российском рынке более 9 лет, предлагает продукцию от ведущих российских производителей.
            </div>
                <div class="short-text">
                <strong>Гипермаркет дверей «Контракт»</strong> - это самый крупный магазин металлических и межкомнатных дверей и дверной фурнитуры.
            </div>
                <div class="circle-mini"></div>
                <div class="short-text hide">
                Собственный склад, более 1000 м2 и ассортимент продукции, более 400 наименований делает нас безусловными лидерами юга России.
            </div>
                <div class="short-text-320px">
                Собственный склад, более 1000 м2 , более 400 наименований делает нас безусловными лидерами юга России.
            </div>
                <div class="long-text">
                <strong>Сеть салонов дверей «Контракт» - это сеть ведущих салонов на рынке Черноморского побережья, в городах
                Сочи и Адлер, специализирующихся на металлических и межкомнатных дверях и дверной фурнитуре.</strong>
            </div>
                <div class="long-text hide">
                Магазины сети предлагают своим покупателям широкий ассортимент товаров и услуг высокого качества, гибкую
                ценовую политику, всегда отвечают требованиям рынка, являясь высокотехнологичными торговыми площадками.
                Дизайн, цвет, материалы - всё представлено в большом объёме, чтобы удовлетворить самого взыскательного клиента.
            </div>
                <div class="long-text hide">
                Без роста бизнеса нет его развития, чтобы закрепить конкурентные приемущества и расширить свою долю рынка,
                мы последовательно реализуем долгосрочные программы развития компании и работаем над повышением контроля
                качества наших товаров и услуг.
            </div>
            </article>
            <div class="about-img">
                <img src="img/about-mini.jpg" alt="ассортимент">
                <img src="img/about-mini.jpg" alt="ассортимент">
                <img src="img/about-mini.jpg" alt="ассортимент">
                <img src="img/about-mini.jpg" alt="ассортимент">
                <img src="img/about-mini.jpg" alt="ассортимент">
                <img src="img/about-mini.jpg" alt="ассортимент">
                <img src="img/about-mini.jpg" alt="ассортимент" class="hide">
            </div>
            <div class="benefits">
                <div class="benefits__line">
                    <div class="man">Крупнейший оператор юга России</div>
                    <div class="box">Собственный склад 1000 м²</div>
                </div>
                <div class="benefits__line">
                    <div class="star">Модельный ряд более 400 наименований</div>
                    <div class="options">Доставка + установка + гарантия</div>
                </div>
            </div>
            <div class="aspiration">
                <div class="aspiration__block">
                    <div class="title">НАШ ДЕВИЗ</div>
                    <div class="border"></div>
                    <div class="description">Мы знаем<br>о дверях всё!</div>
                </div>
                <div class="aspiration__block">
                    <div class="title">НАША ЦЕЛЬ</div>
                    <div class="border"></div>
                    <div class="description">Стать лидером<br>на юге РФ</div>
                </div>
                <div class="aspiration__block">
                    <div class="title">ЦЕННОСТИ</div>
                    <div class="border"></div>
                    <div class="description">
                        Высококвалифицированный персонал<br>
                        Забота о клиенте<br>
                        Высокая порядочность<br>
                        Безупречная репутация<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav__copyright">2016 &#169; Гипермаркет дверей "Контракт"</div>
</div>

//= template/footer.html