//= template/head.html
<div id="opinionBackScreen" class="black-screen" onclick="hideOpinionScreen()"></div>
<div id="opinionBackForm" class="opinion-win catalog-win">
    <div class="opinion-comment catalog-comment">
        <div class="title">УЗНАТЬ ЦЕНЫ<br>НА ВХОДНЫЕ ДВЕРИ</div><div class="title-mini">УЗНАТЬ<br>ЦЕНЫ:</div>
        <form action="">
            <div class="user-name hide">Ваше имя:</div>
            <input type="name" placeholder="Ваше имя">
            <div class="user-phone hide">Номер телефона:</div>
            <input type="tel" placeholder="Номер телефона">
            <div><button>ОТПРАВИТЬ<i></i></button></div>
        </form>
    </div>
    <div class="opinion-cancel" onclick="hideOpinionScreen()"></div>
</div>
<div id="vremia" class="container container-news container-opinion container-catalog">
    <div class="nav nav-shadow">
        <div class="nav__logo"><img src="img/logo.png" alt="Гипермаркет Контракт"></div>
        <div class="phone-head">
            <div class="head-title">ПРОДУКЦИЯ</div>
            <div class="head-menu" id="burger" onclick="dropDown()"></div>
            <div class="mobile-nav" id="drop">
                <ul>
                    <li><a href="">НОВОСТИ И АКЦИИ</a></li>
                    <li><a class="arrow-drop1" onclick="dropDownRed()">О КОМПАНИИ</a>
                        <ul id="first-menu" class="nav-info">
                            <li><a href="">Входные металлические двери</a></li>
                            <li>......</li>
                            <li><a href="">Межкомнатные двери</a></li>
                            <li>......</li>
                            <li><a href="">Арки</a></li>
                            <li>......</li>
                            <li><a href="">Фурнитура</a></li>
                            <li>......</li>
                            <li><a href="">Напольные покрытия</a></li>
                        </ul>
                    </li>
                    <li><a class="arrow-drop2" onclick="dropDownRedAnother()">ПРОДУКЦИЯ</a>
                        <ul id="second-menu" class="nav-info">
                            <li><a href="">Входные металлические двери</a></li>
                            <li>......</li>
                            <li><a href="">Межкомнатные двери</a></li>
                            <li>......</li>
                            <li><a href="">Арки</a></li>
                            <li>......</li>
                            <li><a href="">Фурнитура</a></li>
                            <li>......</li>
                            <li><a href="">Напольные покрытия</a></li>
                        </ul>
                    </li>
                    <li><a href="">УСЛУГИ И СЕРВИС</a></li>
                    <li><a href="">КОНТАКТЫ</a></li>
                </ul>
            </div>
        </div>
        <div class="nav__bar">
            <ul>
                <li><a href="#">ГЛАВНАЯ</a></li>
                <li><a href="#">НОВОСТИ И АКЦИИ</a></li>
                <li id="about-company-nav"><a href="#">О КОМПАНИИ</a><div class="product-hover">
                    <div class="product-menu">
                        <a href="#">Входные<br>металлические двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Межкомнатные двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Арки</a>
                        <div class="dots">.......</div>
                        <a href="#">Фурнитура</a>
                        <div class="dots">.......</div>
                        <a href="#">Напольные покрытия</a>
                    </div>
                </div></li>
                <li id="productions"><a href="#">ПРОДУКЦИЯ</a><div class="product-hover">
                    <div class="product-menu">
                        <a href="#">Входные<br>металлические двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Межкомнатные двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Арки</a>
                        <div class="dots">.......</div>
                        <a href="#">Фурнитура</a>
                        <div class="dots">.......</div>
                        <a href="#">Напольные покрытия</a>
                    </div>
                </div></li>
                <li><a href="#">УСЛУГИ И СЕРВИС</a></li>
                <li><a href="#">КОНТАКТЫ</a></li>
            </ul>
        </div>
        <div class="nav__search">
            <input type="search" placeholder="Поиск по сайту">
        </div>
        <div class="nav__contacts">
            <div>
                <div>Сочи, ул. Гагарина, 82</div>
                <div>8 (918) 911-333-7</div>
            </div>
            <div class="border">........</div>
            <div>
                <div>Адлер, ул. Ленина, 96</div>
                <div>8 (918) 911-333-5</div>
            </div>
            <div class="border">........</div>
            <div>
                <a href="#">vit-kontrakt@yandex.ru</a>
            </div>
            <div class="on-map">
                <a href="#">Мы на карте</a>
            </div>
        </div>
        <div class="nav__copyright">2016 &#169; Гипермаркет дверей "Контракт"</div>
    </div>
    <div class="content content-news">
        <div class="catalog-min"></div>
        <div class="news__title opinion__title">ВХОДНЫЕ МЕТАЛЛИЧЕСКИЕ ДВЕРИ</div>
        <div class="content__catalog">

            <div class="catalog-slider autoplay">
                <div class="column">
                    <div class="top-partner"><a href=""><img src="img/partners-1.jpg" alt=""></a></div>
                    <div class="bottom-door"><img class="small-1" src="img/partners-door-1.jpg" alt=""></div>
                </div>
                <div class="column">
                    <div class="top-partner"><a href=""><img src="img/partners-2.jpg" alt=""></a></div>
                    <div class="bottom-door-2"><img class="small-2" src="img/partners-door-2.jpg" alt=""></div>
                </div>
                <div class="column">
                    <div class="top-partner"><a href=""><img src="img/partners-3.jpg" alt=""></a></div>
                    <div class="bottom-door"><img class="small-1" src="img/partners-door-3.jpg" alt=""></div>
                </div>
                <div class="column">
                    <div class="top-partner"><a href=""><img src="img/partners-3.jpg" alt=""></a></div>
                    <div class="bottom-door"><img class="small-1" src="img/partners-door-3.jpg" alt=""></div>
                </div>
            </div>

            <div class="hove-price" onclick="showFormOpinion()">УЗНАТЬ ЦЕНУ</div>
        </div>
    </div>
    <div class="nav__copyright">2016 &#169; Гипермаркет дверей "Контракт"</div>

</div>

//= template/footer.html