//= template/head.html
<div class="container container-news container-opinion container-service container-contacts">
    <div class="nav nav-shadow">
        <div class="nav__logo"><img src="img/logo.png" alt="Гипермаркет Контракт"></div>
        <div class="phone-head">
            <div class="head-title">КОНТАКТЫ</div>
            <div class="head-menu" id="burger" onclick="dropDown()"></div>
            <div class="mobile-nav" id="drop">
                <ul>
                    <li><a href="">НОВОСТИ И АКЦИИ</a></li>
                    <li><a class="arrow-drop1" onclick="dropDownRed()">О КОМПАНИИ</a>
                        <ul id="first-menu" class="nav-info">
                            <li><a href="">Входные металлические двери</a></li>
                            <li>......</li>
                            <li><a href="">Межкомнатные двери</a></li>
                            <li>......</li>
                            <li><a href="">Арки</a></li>
                            <li>......</li>
                            <li><a href="">Фурнитура</a></li>
                            <li>......</li>
                            <li><a href="">Напольные покрытия</a></li>
                        </ul>
                    </li>
                    <li><a class="arrow-drop2" onclick="dropDownRedAnother()">ПРОДУКЦИЯ</a>
                        <ul id="second-menu" class="nav-info">
                            <li><a href="">Входные металлические двери</a></li>
                            <li>......</li>
                            <li><a href="">Межкомнатные двери</a></li>
                            <li>......</li>
                            <li><a href="">Арки</a></li>
                            <li>......</li>
                            <li><a href="">Фурнитура</a></li>
                            <li>......</li>
                            <li><a href="">Напольные покрытия</a></li>
                        </ul>
                    </li>
                    <li><a href="">УСЛУГИ И СЕРВИС</a></li>
                    <li><a href="">КОНТАКТЫ</a></li>
                </ul>
            </div>
        </div>
        <div class="nav__bar">
            <ul>
                <li><a href="#">ГЛАВНАЯ</a></li>
                <li><a href="#">НОВОСТИ И АКЦИИ</a></li>
                <li id="about-company-nav"><a href="#">О КОМПАНИИ</a><div class="product-hover">
                    <div class="product-menu">
                        <a href="#">Входные<br>металлические двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Межкомнатные двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Арки</a>
                        <div class="dots">.......</div>
                        <a href="#">Фурнитура</a>
                        <div class="dots">.......</div>
                        <a href="#">Напольные покрытия</a>
                    </div>
                </div></li>
                <li id="productions"><a href="#">ПРОДУКЦИЯ</a><div class="product-hover">
                    <div class="product-menu">
                        <a href="#">Входные<br>металлические двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Межкомнатные двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Арки</a>
                        <div class="dots">.......</div>
                        <a href="#">Фурнитура</a>
                        <div class="dots">.......</div>
                        <a href="#">Напольные покрытия</a>
                    </div>
                </div></li>
                <li><a href="#">УСЛУГИ И СЕРВИС</a></li>
                <li><a href="#">КОНТАКТЫ</a></li>
            </ul>
        </div>
        <div class="nav__search">
            <input type="search" placeholder="Поиск по сайту">
        </div>
        <div class="nav__contacts">
            <div>
                <div>Сочи, ул. Гагарина, 82</div>
                <div>8 (918) 911-333-7</div>
            </div>
            <div class="border">........</div>
            <div>
                <div>Адлер, ул. Ленина, 96</div>
                <div>8 (918) 911-333-5</div>
            </div>
            <div class="border">........</div>
            <div>
                <a href="#">vit-kontrakt@yandex.ru</a>
            </div>
            <div class="on-map">
                <a href="#">Мы на карте</a>
            </div>
        </div>
        <div class="nav__copyright">2016 &#169; Гипермаркет дверей "Контракт"</div>
    </div>
    <div class="content content-news">
        <div class="contacts-min"></div>
        <div class="news__title opinion__title contacts-title">КОНТАКТЫ</div>
        <div class="content__contacts content__service">
            <div class="city-block">
                <div class="city-line">
                    <div class="our-title"><i class="address"></i>Адрес:</div>
                    <div class="this-info">Сочи, ул. Гагарина, 82</div>
                </div>
                <div class="city-line">
                    <div class="our-title"><i class="phone"></i>Телефон:</div>
                    <div class="this-info">8 (862) 448-05-46</div>
                    <div class="this-info">8 (918) 911-333-7</div>
                </div>
                <div class="city-line">
                    <div class="our-title"><i class="email"></i>E-mail:</div>
                    <div class="this-info">vit-kontrakt@yandex.ru</div>
                </div>
                <div class="city-map">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=lUe7HPJLoaJF0o12TyqP4Rquof4FBh2A&amp;width=481&amp;height=364&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>                </div>
                <div class="city-map-small">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=lUe7HPJLoaJF0o12TyqP4Rquof4FBh2A&amp;width=320&amp;height=240&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>                </div>
            </div>
            <div class="city-block">
                <div class="city-line">
                    <div class="our-title"><i class="address"></i>Адрес:</div>
                    <div class="this-info">Адлер, ул. Ленина, 96</div>
                </div>
                <div class="city-line">
                    <div class="our-title"><i class="phone"></i>Телефон:</div>
                    <div class="this-info">8 (918) 911-333-5</div>
                </div>
                <div class="city-line">
                    <div class="our-title"><i class="email"></i>E-mail:</div>
                    <div class="this-info">vit-kontrakt@yandex.ru</div>
                </div>
                <div class="city-map">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=lUe7HPJLoaJF0o12TyqP4Rquof4FBh2A&amp;width=481&amp;height=364&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
                </div>
                <div class="city-map-small">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=lUe7HPJLoaJF0o12TyqP4Rquof4FBh2A&amp;width=320&amp;height=240&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>                </div>
                </div>
            <div class="question question-contact">
                <div class="question__have question__have-contact">ЕСТЬ ВОПРОСЫ?</div>
                <form action="">
                    <div class="form-left form-left-contact">
                        <div class="name hide">Ваше имя:</div>
                        <input type="name" placeholder="Ваше имя">
                        <div class="number hide">Номер телефона:</div>
                        <input type="tel" placeholder="Номер телефона">
                        <input type="email" class="big-hide" placeholder="E-mail">
                    </div>
                    <div class="form-right form-right-contact">
                        <div class="text hide">Сообщение:</div>
                        <textarea name="text" cols="30" rows="10" placeholder="Сообщение:"></textarea>
                    </div>
                    <div><button class="contact-btn">ОТПРАВИТЬ<i></i></button></div>
                </form>
            </div>
        </div>
    </div>
    <div class="nav__copyright">2016 &#169; Гипермаркет дверей "Контракт"</div>
</div>

//= template/footer.html