//= template/head.html
<div class="container container-news">
    <div class="nav nav-shadow">
        <div class="nav__logo"><img src="img/logo.png" alt="Гипермаркет Контракт"></div>
        <div class="phone-head">
            <div class="head-title">НОВОСТИ И АКЦИИ</div>
            <div class="head-menu" id="burger" onclick="dropDown()"></div>
            <div class="mobile-nav" id="drop">
                <ul>
                    <li><a href="">НОВОСТИ И АКЦИИ</a></li>
                    <li><a class="arrow-drop1" onclick="dropDownRed()">О КОМПАНИИ</a>
                        <ul id="first-menu" class="nav-info">
                            <li><a href="">Входные металлические двери</a></li>
                            <li>......</li>
                            <li><a href="">Межкомнатные двери</a></li>
                            <li>......</li>
                            <li><a href="">Арки</a></li>
                            <li>......</li>
                            <li><a href="">Фурнитура</a></li>
                            <li>......</li>
                            <li><a href="">Напольные покрытия</a></li>
                        </ul>
                    </li>
                    <li><a class="arrow-drop2" onclick="dropDownRedAnother()">ПРОДУКЦИЯ</a>
                        <ul id="second-menu" class="nav-info">
                            <li><a href="">Входные металлические двери</a></li>
                            <li>......</li>
                            <li><a href="">Межкомнатные двери</a></li>
                            <li>......</li>
                            <li><a href="">Арки</a></li>
                            <li>......</li>
                            <li><a href="">Фурнитура</a></li>
                            <li>......</li>
                            <li><a href="">Напольные покрытия</a></li>
                        </ul>
                    </li>
                    <li><a href="">УСЛУГИ И СЕРВИС</a></li>
                    <li><a href="">КОНТАКТЫ</a></li>
                </ul>
            </div>
        </div>
        <div class="nav__bar">
            <ul>
                <li><a href="#">ГЛАВНАЯ</a></li>
                <li><a href="#">НОВОСТИ И АКЦИИ</a></li>
                <li id="about-company-nav"><a href="#">О КОМПАНИИ</a><div class="product-hover">
                    <div class="product-menu">
                        <a href="#">Входные<br>металлические двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Межкомнатные двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Арки</a>
                        <div class="dots">.......</div>
                        <a href="#">Фурнитура</a>
                        <div class="dots">.......</div>
                        <a href="#">Напольные покрытия</a>
                    </div>
                </div></li>
                <li id="productions"><a href="#">ПРОДУКЦИЯ</a><div class="product-hover">
                    <div class="product-menu">
                        <a href="#">Входные<br>металлические двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Межкомнатные двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Арки</a>
                        <div class="dots">.......</div>
                        <a href="#">Фурнитура</a>
                        <div class="dots">.......</div>
                        <a href="#">Напольные покрытия</a>
                    </div>
                </div></li>
                <li><a href="#">УСЛУГИ И СЕРВИС</a></li>
                <li><a href="#">КОНТАКТЫ</a></li>
            </ul>
        </div>
        <div class="nav__search">
            <input type="search" placeholder="Поиск по сайту">
        </div>
        <div class="nav__contacts">
            <div>
                <div>Сочи, ул. Гагарина, 82</div>
                <div>8 (918) 911-333-7</div>
            </div>
            <div class="border">........</div>
            <div>
                <div>Адлер, ул. Ленина, 96</div>
                <div>8 (918) 911-333-5</div>
            </div>
            <div class="border">........</div>
            <div>
                <a href="#">vit-kontrakt@yandex.ru</a>
            </div>
            <div class="on-map">
                <a href="#">Мы на карте</a>
            </div>
        </div>
        <div class="nav__copyright">2016 &#169; Гипермаркет дверей "Контракт"</div>
    </div>
    <div class="content content-news">
        <div class="news__title">НОВОСТИ И АКЦИИ</div>
        <div class="news-small"></div>
        <div class="news">
            <div class="news__all">
                <div class="news__block">
                    <a href=""><img src="img/news-mini.jpg" alt="новость"></a>
                    <div class="news-info">
                        <h5><a href="">Заголовок новости или акции</a></h5>
                    <div class="news-date">16 ноя. 2016</div>
                    <div class="news-text">
                        Новости - оперативная информация, которая представляет политический, социальный или экономический
                        интерес для аудитории в своей свежести, то есть сообщения о событиях, произошедших недавно или
                        происходящих в данный момент
                    </div><span>...</span>
                    <a href="#">подробнее</a>
                </div>
            </div>
                <div class="news__block">
                    <a href=""><img src="img/news-mini.jpg" alt="новость"></a>
                    <div class="news-info">
                        <h5><a href="">Заголовок новости или акции</a></h5>
                    <div class="news-date">16 ноя. 2016</div>
                    <div class="news-text">
                        Новости - оперативная информация, которая представляет политический, социальный или экономический
                        интерес для аудитории в своей свежести, то есть сообщения о событиях, произошедших недавно или
                        происходящих в данный момент
                    </div><span>...</span>
                    <a href="#">подробнее</a>
                </div>
            </div>
                <div class="news__block">
                    <a href=""><img src="img/news-mini.jpg" alt="новость"></a>
                    <div class="news-info">
                        <h5><a href="">Заголовок новости или акции</a></h5>
                    <div class="news-date">16 ноя. 2016</div>
                    <div class="news-text">
                        Новости - оперативная информация, которая представляет политический, социальный или экономический
                        интерес для аудитории в своей свежести, то есть сообщения о событиях, произошедших недавно или
                        происходящих в данный момент
                    </div><span>...</span>
                    <a href="#">подробнее</a>
                </div>
            </div>
            </div>
        </div>
        <div class="change-page">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
        </div>
    </div>
    <div class="nav__copyright">2016 &#169; Гипермаркет дверей "Контракт"</div>
</div>

//= template/footer.html