//= template/head.html
<div class="container container-news container-news_one">
    <div class="nav nav-shadow">
        <div class="nav__logo"><img src="img/logo.png" alt="Гипермаркет Контракт"></div>
        <div class="phone-head">
            <div class="head-title">НОВОСТИ И АКЦИИ</div>
            <div class="head-menu" id="burger" onclick="dropDown()"></div>
            <div class="mobile-nav" id="drop">
                <ul>
                    <li><a href="">НОВОСТИ И АКЦИИ</a></li>
                    <li><a class="arrow-drop1" onclick="dropDownRed()">О КОМПАНИИ</a>
                        <ul id="first-menu" class="nav-info">
                            <li><a href="">Входные металлические двери</a></li>
                            <li>......</li>
                            <li><a href="">Межкомнатные двери</a></li>
                            <li>......</li>
                            <li><a href="">Арки</a></li>
                            <li>......</li>
                            <li><a href="">Фурнитура</a></li>
                            <li>......</li>
                            <li><a href="">Напольные покрытия</a></li>
                        </ul>
                    </li>
                    <li><a class="arrow-drop2" onclick="dropDownRedAnother()">ПРОДУКЦИЯ</a>
                        <ul id="second-menu" class="nav-info">
                            <li><a href="">Входные металлические двери</a></li>
                            <li>......</li>
                            <li><a href="">Межкомнатные двери</a></li>
                            <li>......</li>
                            <li><a href="">Арки</a></li>
                            <li>......</li>
                            <li><a href="">Фурнитура</a></li>
                            <li>......</li>
                            <li><a href="">Напольные покрытия</a></li>
                        </ul>
                    </li>
                    <li><a href="">УСЛУГИ И СЕРВИС</a></li>
                    <li><a href="">КОНТАКТЫ</a></li>
                </ul>
            </div>
        </div>
        <div class="nav__bar">
            <ul>
                <li><a href="#">ГЛАВНАЯ</a></li>
                <li><a href="#">НОВОСТИ И АКЦИИ</a></li>
                <li id="about-company-nav"><a href="#">О КОМПАНИИ</a><div class="product-hover">
                    <div class="product-menu">
                        <a href="#">Входные<br>металлические двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Межкомнатные двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Арки</a>
                        <div class="dots">.......</div>
                        <a href="#">Фурнитура</a>
                        <div class="dots">.......</div>
                        <a href="#">Напольные покрытия</a>
                    </div>
                </div></li>
                <li id="productions"><a href="#">ПРОДУКЦИЯ</a><div class="product-hover">
                    <div class="product-menu">
                        <a href="#">Входные<br>металлические двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Межкомнатные двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Арки</a>
                        <div class="dots">.......</div>
                        <a href="#">Фурнитура</a>
                        <div class="dots">.......</div>
                        <a href="#">Напольные покрытия</a>
                    </div>
                </div></li>
                <li><a href="#">УСЛУГИ И СЕРВИС</a></li>
                <li><a href="#">КОНТАКТЫ</a></li>
            </ul>
        </div>
        <div class="nav__search">
            <input type="search" placeholder="Поиск по сайту">
        </div>
        <div class="nav__contacts">
            <div>
                <div>Сочи, ул. Гагарина, 82</div>
                <div>8 (918) 911-333-7</div>
            </div>
            <div class="border">........</div>
            <div>
                <div>Адлер, ул. Ленина, 96</div>
                <div>8 (918) 911-333-5</div>
            </div>
            <div class="border">........</div>
            <div>
                <a href="#">vit-kontrakt@yandex.ru</a>
            </div>
            <div class="on-map">
                <a href="#">Мы на карте</a>
            </div>
        </div>
        <div class="nav__copyright">2016 &#169; Гипермаркет дверей "Контракт"</div>
    </div>
    <div class="content content-news content-news-one">
        <div class="news__title">НОВОСТИ И АКЦИИ</div>
        <div class="news-one-small"></div>
        <div class="news news-big">
            <div class="news__all">
                <div class="news__block news-big__block">
                    <a href=""><img src="img/news-one.jpg" alt="новость"></a>
                    <div class="news-info news-one">
                        <div class="news-date">16 ноя. 2016</div>
                        <h5><a href="">Заголовок новости или акции</a></h5>
                        <div class="news-text big-text">
                            <strong>Новости - оперативная информация, которая представляет политический, социальный или экономический интерес
                                для аудитории в своей свежести, то есть сообщения о событиях, произошедших недавно или происходящих в данный
                                момент.</strong> Также новостями называют программы на телевидении и радио, а в печатной прессе или на веб-сайтах -
                            сводки новостей, например, в специальной рубрике в газете.
                        </div>
                    </div>
                    <div class="news-description">
                    Как правило, новости на телевидении и радио передаются несколько раз в день, начинаются в начале часа и
                    длятся от двух минут до часа.<br class="hide"><br class="hide">
                    Новости обычно бывают из таких областей, как политика, экономика, наука, культура, спорт, с прогнозом
                    погоды в заключении. Западной традицией предполагается, что новости должны быть изложены максимально
                    нейтрально и объективно и отдельно от комментариев.<br class="hide"><br class="hide">
                    Выбор новостей для подборки осуществляется редакцией. Специальный выпуск - это выпуск, посвященный
                    только одной теме, продолжительность и периодичность специальных выпусков может отличаться от обычных выпусков.
                </div>
                    <a href="#" class="back-to-list">назад к списку</a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav__copyright">2016 &#169; Гипермаркет дверей "Контракт"</div>
</div>

//= template/footer.html