//= template/head.html
<div id="opinionBackScreen" class="black-screen" onclick="hideOpinionScreen()"></div>
<div id="opinionBackForm" class="opinion-win">
    <div class="opinion-comment" >
        <div class="opinion__have">ВАШЕ МНЕНИЕ ВАЖНО ДЛЯ НАС!</div>
        <form action="">
            <div class="form-left">
                <div class="name hide">Ваше имя:</div>
                <input type="name" placeholder="Ваше имя:">
                <div class="email hide">E-mail:</div>
                <input type="email" placeholder="E-mail:">
            </div>
            <div class="form-right">
                <div class="text hide">Ваш отзыв</div>
                <textarea name="text" id="" cols="30" rows="10" placeholder="Ваш отзыв:"></textarea>
            </div>
            <div><button>ОТПРАВИТЬ<i></i></button></div>
        </form>
    </div>
    <div class="opinion-cancel" onclick="hideOpinionScreen()"></div>
</div>
<div class="container container-news container-opinion">
    <div class="nav nav-shadow">
        <div class="nav__logo"><img src="img/logo.png" alt="Гипермаркет Контракт"></div>
        <div class="phone-head">
            <div class="head-title">ОТЗЫВЫ</div>
            <div class="head-menu" id="burger" onclick="dropDown()"></div>
            <div class="mobile-nav" id="drop">
                <ul>
                    <li><a href="">НОВОСТИ И АКЦИИ</a></li>
                    <li><a class="arrow-drop1" onclick="dropDownRed()">О КОМПАНИИ</a>
                        <ul id="first-menu" class="nav-info">
                            <li><a href="">Входные металлические двери</a></li>
                            <li>......</li>
                            <li><a href="">Межкомнатные двери</a></li>
                            <li>......</li>
                            <li><a href="">Арки</a></li>
                            <li>......</li>
                            <li><a href="">Фурнитура</a></li>
                            <li>......</li>
                            <li><a href="">Напольные покрытия</a></li>
                        </ul>
                    </li>
                    <li><a class="arrow-drop2" onclick="dropDownRedAnother()">ПРОДУКЦИЯ</a>
                        <ul id="second-menu" class="nav-info">
                            <li><a href="">Входные металлические двери</a></li>
                            <li>......</li>
                            <li><a href="">Межкомнатные двери</a></li>
                            <li>......</li>
                            <li><a href="">Арки</a></li>
                            <li>......</li>
                            <li><a href="">Фурнитура</a></li>
                            <li>......</li>
                            <li><a href="">Напольные покрытия</a></li>
                        </ul>
                    </li>
                    <li><a href="">УСЛУГИ И СЕРВИС</a></li>
                    <li><a href="">КОНТАКТЫ</a></li>
                </ul>
            </div>
        </div>
        <div class="nav__bar">
            <ul>
                <li><a href="#">ГЛАВНАЯ</a></li>
                <li><a href="#">НОВОСТИ И АКЦИИ</a></li>
                <li id="about-company-nav"><a href="#">О КОМПАНИИ</a><div class="product-hover">
                    <div class="product-menu">
                        <a href="#">Входные<br>металлические двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Межкомнатные двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Арки</a>
                        <div class="dots">.......</div>
                        <a href="#">Фурнитура</a>
                        <div class="dots">.......</div>
                        <a href="#">Напольные покрытия</a>
                    </div>
                </div></li>
                <li id="productions"><a href="#">ПРОДУКЦИЯ</a><div class="product-hover">
                    <div class="product-menu">
                        <a href="#">Входные<br>металлические двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Межкомнатные двери</a>
                        <div class="dots">.......</div>
                        <a href="#">Арки</a>
                        <div class="dots">.......</div>
                        <a href="#">Фурнитура</a>
                        <div class="dots">.......</div>
                        <a href="#">Напольные покрытия</a>
                    </div>
                </div></li>
                <li><a href="#">УСЛУГИ И СЕРВИС</a></li>
                <li><a href="#">КОНТАКТЫ</a></li>
            </ul>
        </div>
        <div class="nav__search">
            <input type="search" placeholder="Поиск по сайту">
        </div>
        <div class="nav__contacts">
            <div>
                <div>Сочи, ул. Гагарина, 82</div>
                <div>8 (918) 911-333-7</div>
            </div>
            <div class="border">........</div>
            <div>
                <div>Адлер, ул. Ленина, 96</div>
                <div>8 (918) 911-333-5</div>
            </div>
            <div class="border">........</div>
            <div>
                <a href="#">vit-kontrakt@yandex.ru</a>
            </div>
            <div class="on-map">
                <a href="#">Мы на карте</a>
            </div>
        </div>
        <div class="nav__copyright">2016 &#169; Гипермаркет дверей "Контракт"</div>
    </div>
    <div class="content content-news">
        <div class="news__title opinion__title">ОТЗЫВЫ</div>
        <div class="opinion-small"></div>
        <button class="send" onclick="showFormOpinion()">ОСТАВИТЬ ОТЗЫВ<i></i></button>
        <div class="content__opinion">
            <div class="commentaries">
                <div class="commentaries__block">
                    <div class="info">
                        <span class="date">14 ноя 2016</span><span class="name">Фамилия Имя:</span><span class="bg-comment"></span>
                    </div>
                    <div class="text">
                        При огромном разнообразии товаров и услуг, довольно сложно сделать выбор в пользу той или иной
                        покупки, ресторана или отеля. Казалось бы, сайты с отзывами других потребителей призваны в этом
                        помочь. Но встает резонный вопрос, а можно ли им доверять?
                    </div>
                </div>
                <div class="commentaries__block">
                    <div class="info">
                        <span class="date">14 ноя 2016</span><span class="name">Фамилия Имя:</span><span class="bg-comment"></span>
                    </div>
                    <div class="text">
                        При огромном разнообразии товаров и услуг, довольно сложно сделать выбор в пользу той или иной
                        покупки, ресторана или отеля. Казалось бы, сайты с отзывами других потребителей призваны в этом
                        помочь. Но встает резонный вопрос, а можно ли им доверять?
                    </div>
                </div>
                <div class="commentaries__block">
                    <div class="info">
                        <span class="date">14 ноя 2016</span><span class="name">Фамилия Имя:</span><span class="bg-comment"></span>
                    </div>
                    <div class="text">
                        При огромном разнообразии товаров и услуг, довольно сложно сделать выбор в пользу той или иной
                        покупки, ресторана или отеля. Казалось бы, сайты с отзывами других потребителей призваны в этом
                        помочь. Но встает резонный вопрос, а можно ли им доверять?
                    </div>
                </div>
                <div class="commentaries__block">
                    <div class="info">
                        <span class="date">14 ноя 2016</span><span class="name">Фамилия Имя:</span><span class="bg-comment"></span>
                    </div>
                    <div class="text">
                        При огромном разнообразии товаров и услуг, довольно сложно сделать выбор в пользу той или иной
                        покупки, ресторана или отеля. Казалось бы, сайты с отзывами других потребителей призваны в этом
                        помочь. Но встает резонный вопрос, а можно ли им доверять?
                    </div>
                </div>
            </div>
        </div>
        <div class="change-page change-page-opinion">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
        </div>
    </div>
    <div class="nav__copyright">2016 &#169; Гипермаркет дверей "Контракт"</div>

</div>

//= template/footer.html